{
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 4],
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "implicit-arrow-linebreak": 0
  },
  "extends": ["airbnb-base"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }
}
